.about {
  margin: auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  font-size: calc(10px + 2vmin);
  max-width: 768px;
  padding-top: 14px;
}

.about h1 {
  margin: 0px;
  color: black;
  text-align: center;
}

.about h2 {
  margin-bottom: 0.5rem;
  text-align: center;
}

.about p {
  text-align: justify;
}
.container > p {
  text-align: justify;
  width: 500px;
  height: 120px;
}

.about img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto 0.5rem auto;
  float: left;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
