.item-container1 {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  grid-auto-rows: minmax(100px, auto);
  text-decoration: none;
}

.img-list1 {
  object-fit: fill;
  width: 331px;
  height: 464px;
  padding: 10px 5px 0px 5px;
}

.box1 {
  box-shadow: 1px 3px 4px 1px #00000066;
  border-radius: 10px;
  height: 568px;
  width: 341px;
}
.name-list1 {
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
}
.name-list1 > p {
  margin: 10px;
}
.txt {
  text-align: center;
}
.search {
  padding-left: 16px;
}

@media screen and (max-width: 1600px) {
  .item-container1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 1270px) {
  .item-container1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 950px) {
  .item-container1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 620px) {
  .item-container1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
